* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px*/
}

body {
    font-family: "Marko One", Georgia, serif;
    font-size: 1.6rem;
    height: 100%;
}

.header {
    font-size: 2.2rem;
    text-align: center;
}

main {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    color: #0059d9;
    height: 100%;
}

.mem__item-input {
    display: none;
}

.mems {
    width: 75vw;
    margin: 0 auto;
    background-color: #f6f6ee;
}

.mem__item {
    display: block;
    width: 100%;
    border-top: 0.2rem solid violet;
}

.mem__heading {
    color: #0059d9;
}

.mem__item-input:checked~.mem__heading {
    color: black;
}

.mem__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 2rem;
}

.mem__content {
    display: flex;
    flex-direction: column;
    max-height: 0;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.mem__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mem__image-pic {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.mem__item-input:checked~.mem__content {
    max-height: 100%;
    margin-bottom: 2rem;
    visibility: visible;
    opacity: 1;
}

.mem__item-input:checked~.mem__content img {
    max-height: 100%;
    max-width: 80%;
    opacity: 1;
}

.mem__heading-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: black;
    transform: rotate(45deg);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.mems:hover .mem__heading {
    color: black;
}

.mem__item:hover {
    cursor: pointer;
}

.mem__item:hover .mem__content {
    max-height: 100%;
    visibility: visible;
    opacity: 1;
}

.mem__item:hover .mem__image-pic {
    max-height: 100%;
    max-width: 80%;
    opacity: 1;
    margin-bottom: 2rem;
}